@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
    position: relative;
    background-size: 100%;
   background-repeat: no-repeat;
   background-image: url(./assets/extra.jpg);
   background-attachment: fixed;
}

.container1 {
  text-align: center;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 50px;
  position: fixed;
  background-color: #ffffff;
   width: 100%;
  top: 0;
  border-radius:0px 0px 20px 20px;

  z-index: 1000;
}  
.navbar2 ul{
  list-style: none;
  margin-right: 470px;
  padding: 0;
  display: flex;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin: 0 15px;
}
.navbar2 ul li {
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 1.2em;
}
.navbar2 ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 1.2em;
}

.contactt-info {
  display: flex;
  align-items: center;
  width: 150px;
  color: black;
}



.main-content {
  position: relative;
  background-image: url('./assets/img2.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  border-radius:0px 0px 20px 20px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
}

.overlay h1 {
  font-size: 3em;
  margin: 0;
  color: white;
}

.overlay p {
  font-size: 1.5em;
  margin-top: 10px;
  color: white;
}
 

.buttons {
  margin-top: 20px;
}
.btn {
  padding: 10px 10px;
  margin: 5px;
  border: none;
  cursor: pointer;
  font-size: 1em;
 }
.btn:hover{
  background-color: #ff0229;
  color: white;
  border-radius: 10px;
  width: 95px;
  transition: 0.5s;
}
 


.primary {
  margin-right: 70px;
  background-color: transparent;
  border: none;
  font-family: sans-serif;
  font-weight: 500;
  position: relative;
   font-size: 85%;
  color: #000000;
  cursor: pointer;
 }

.secondary {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.extra-content {
   justify-content: space-around;
   margin-top: 100px;
    
 }
.extra-item {
  background-image: url('./assets/bg1.png');
  background-size: cover;
  background-position: center;
   position: relative;
  border-radius:20px 20px 20px 20px;
  width: 100%; 
  margin-top: 100px;
  height: 500px;
  width: 48%;
  overflow: hidden;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.extra-item img {
   width: 100%;
   border-radius: 20px;
  opacity: 0.7;
}

.description {
  margin-top: 100px;
  position:absolute;
  padding-left: 40px;
  padding-top: 60px;
  margin-left: 50px;
  background-color: #2d2a2a7d;
  width: 70%;
   height: fit-content;
  
   }

.description h2 {
  font-size: 75px;
  margin: 0;
  font-family: sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
 


}
.contactus{
  font-size: 75px;
  margin-top: 100px;
  font-family: sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-left: 48px;
  color:#000000;
}

.description p {
  font-size: 20px;
   font-family: sans-serif;
  color: white;
}

  .nav2{
    margin-right: 50px;
    text-decoration: none;
    margin: 30px;
  margin-left: 49px;
     font-size: 1.2rem;
    font-weight: 600;
    font-family: sans-serif;
    color: #000000;
  }
.nav{
  text-decoration: none;
  margin: 30px;
margin-left: 49px;
   font-size: 1.2rem;
  font-weight: 600;
  font-family: sans-serif;
  color: #000000;
  }
 .nav:hover{
  color: #ff0229;
  }
  .nav2:hover{
    color: #ff0229;
     }
     
    
  .headerbody {
     display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -25px;
    margin-bottom: 20px;
    } 
  .nav {
    background-color:white;
    color: #000000;
        padding: .5em 0em;
       
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    
  
    --background-color: #ffffff;
    --border-size: 2px;
     
  }
  .nav2 {
    background-color:white;
    color: #000000;
        padding: .5em 0em;
       
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    
  
    --background-color: #ffffff;
    --border-size: 2px;
     
  }
  .nav2 {
    background-color:white;
    color: #000000;
        padding: .5em 0em;
       
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    
  
    --background-color: #ffffff;
    --border-size: 2px;
     
  }
  
  .nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    border: var(--border-size) solid var(--background-color);
    transition: top, left, right, bottom, 300ms ease-in-out;
  }
  .nav2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    border: var(--border-size) solid var(--background-color);
    transition: top, left, right, bottom, 300ms ease-in-out;
  }
  
  .nav:hover::before,
  .nav:focus::before {
    top: calc(var(--border-size) * 2);
    left: calc(var(--border-size) * 2);
    right: calc(var(--border-size) * 2);
    bottom: calc(var(--border-size) * -2);
  } 
  .nav2:hover::before,
  .nav2:focus::before {
    top: calc(var(--border-size) * 2);
    left: calc(var(--border-size) * 2);
    right: calc(var(--border-size) * 2);
    bottom: calc(var(--border-size) * -2);
  } 
  .nav::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 37.5px;
    background-color: #FF0229;
    transition: transform 300ms ease-in-out;
  
    transform: scaleX(0);
  }
  .nav2::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 37.5px;
    background-color: #FF0229;
    transition: transform 300ms ease-in-out;
  
    transform: scaleX(0);
  }
  
  .nav:hover::before,
  .nav:focus::before {
    transform: scaleX(1);
  }
  .nav2:hover::before,
  .nav2:focus::before {
    transform: scaleX(1);
  }
  .link{
    text-decoration: none;
  }
  .brand{
     text-transform: uppercase;
    font-weight: 900;
    color: #ff0229;
    font-size: 120%;
    font-family: sans-serif;
    margin-top: 20px;    
 }
.signin{
  background-color: transparent;
  border: none;
  font-family: Gotham SSm A, Gotham SSm B, Gotham, Helvetica Neue, sans-serif;
  font-weight: 500;
  position: relative;
   font-size: 85%;
  color: #000000;
  cursor: pointer;
  margin-right: -950px;
 }
 footer{
  display: flex;
  }
 footer p{
  text-align: center;
  margin-left: 720px;
 }
 footer img{
  height: 30px;
  width: 30px;
  
 }
 .social{
margin-left: 450px;
 margin-top: 10px;

 }
 .fb{
  margin-right: 40px;
 }
 .contact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  width: 88%;
  margin-left: 48px;
  margin-top: -30px;
  border-radius: 60px;
  background-color: #000000;  
  color: #ffffff;  
 }

.contact-form {
  flex: 1;
  max-width: 600px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-group label {
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #ffffff;  
}

.input-group input,
.input-group textarea {
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #ffffff; 
  color: #000000; 
  font-size: 1.2em;
}

.input-group textarea {
  resize: none;
  height: 150px;
}

.submit-btn {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #ffffff; 
  color: #000000;
  font-size: 1.1em;
  cursor: pointer;
  align-self: flex-start;
}

.submit-btn:hover {
  background-color: #ff0229; 
  transition: 0.5s;
  color: white;
}

.contact-info {
  flex: 0.5;
  padding-left: 10px;
  margin-top: -350px;
}

.contact-info h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 1.2em;
  color: #ffffff; /* Lighter text for paragraph */
}


 
* {
	box-sizing: border-box;
}
.logincontainer{
  margin: 0;
  background-color: white;

}
.headerbackground{
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.loginbody {
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 -30.09px;
}

.h11 {
	font-weight: bold;
	margin: 0;
}

 

.pp {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

.aa {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.logbutton {
	border-radius: 20px;
	border: 1px solid #ff0229;
	background-color: #ff0229;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.logbutton:active {
	transform: scale(0.95);
}

.logbutton:focus {
	outline: none;
}

.ghost {
	background-color: transparent;
	border: 1px solid white;
  	border-radius: 20px;
  	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.formstyle {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.forminput {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay1-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay1-container{
	transform: translateX(-100%);
}

.overlay1 {
	background: #FF0229;
	background: -webkit-linear-gradient(to right, #ff0229, #ff0229);
	background: linear-gradient(to right, #ff0229, #ff0229);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay1 {
  	transform: translateX(50%);
}

.overlay1-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay1-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay1-left {
	transform: translateX(0);
}

.overlay1-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay1-right {
	transform: translateX(20%);
}
/* Main content section */
.main-content {
  position: relative;
  background-image: url('./assets/bg1.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* Overlay with semi-transparent background */
.overlay {
  background-color: rgba(38, 36, 36, 0.092);
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}



/* Heading styles */
.overlay h1 {
  font-size: 3em;
  margin: 0;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: fadeInDown 1s ease-in-out;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Paragraph styles */
.overlay p {
  font-size: 1.5em;
  margin-top: 10px;
  color: rgb(32, 30, 30);
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Buttons */


/* Extra Content Section */
.extra-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 80px;
  padding: 0 50px;
}



.extra-item:hover {
  transform: scale(1.1) rotate(-3deg);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.6);
}

.extra-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   z-index: 1;
  transition: opacity 0.4s ease-in-out;
}

.extra-item:hover::before {
  opacity: 0.7;
}

/* Description Section */
.description {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  width: 80%;
  max-width: 600px;
  z-index: 2;
  height: fit-content;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.6s ease, opacity 0.6s ease;
  opacity: 0.9;
}

.extra-item:hover .description {
  transform: translateY(-20px);
  opacity: 1;
  background-color: #d1cec5;
 }

/* Heading in Description */
.description h2 {
  font-size: 2.5em;
  margin: 0 0 15px;
  font-family: 'Montserrat', sans-serif;
  color: #ff4d4d;
  letter-spacing: 1.5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: color 0.4s ease;
}

.extra-item:hover .description h2 {
  color: #000000;
}

/* Paragraph in Description */
.description p {
  font-size: 1.2em;
  color: #333;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
  transition: color 0.4s ease;
}

.extra-item:hover .description p {
  color: #000000;
}


 
 

 
 
 
  
  
  
  
  
  
  
   
  
  
   
  
  
  
  
  
   
  